
<div class="jumbotron">
  <h1 class="display-4"><%= @customer.name %></h1>
  <p class="lead"><%= @customer.phone %>s</p>
  <hr class="my-4"><p>
    <p><%= @customer.email %></p>
    <p><%= @customer.address %></p>


    <%= link_to 'Edit', edit_customer_path(@customer), class:"btn btn-info" %> |
<%= link_to 'Back', customers_path, class:"btn btn-secondary" %>

</div>



