

<h1>Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Date of order</th>
      <th>Billing address</th>
      <th>Shipping address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.date_of_order %></td>
        <td><%= order.billing_address %></td>
        <td><%= order.shipping_address %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class:"btn btn-warning" %>
